# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor/
/node_modules/

# Laravel runtime
/storage/*.key
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# IDE config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# DB dump & temporary
*.sql
*.bak
*.tmp
*.temp

# Test scripts (opsional)
test-*.php
